{
  http_port 8080
  https_port 4443
  servers :4443 {
    protocol {
      experimental_http3
    }
  }
}

{$DOMAIN}:4443 {
  log {
    level INFO
    output file /data/access.log {
      roll_size 10MB
      roll_keep 10
    }
  }

  tls {$EMAIL}

  #encode gzip
  header {
        Strict-Transport-Security "max-age=31536000;"
        X-XSS-Protection "1; mode=block"
        X-Frame-Options "DENY"
        X-Robots-Tag "none"
        -Server
  }

  reverse_proxy app:3000 {
       header_up X-Real-IP {remote_host}
  }
}